@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');


/*=================== MAIN WORK HOME PAGE ===================*/

.main_works {
	padding: 5em 0 3em 0;	
	position: relative;
}

.svg_topper {
	position: absolute;
	top: -27px;
	left: 50% ;
	transform: translateX(-50%);
/* 	width: 90px;
	height: 60px;
	border-radius: 50%;
	box-shadow: 1px 1px 20px rgba(0,0,0,0.2); */
}

.svg_topper .preloader {
	transform: scale(0.35);
}

.svg_topper .preloader img {
	filter: invert(0.6);
	/* filter: drop-shadow(1px 1px 15px rgba(0,0,0,0.1)) */
}

.main_works .work {
	box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
	overflow: hidden;
}

.work_detail_wrapper .work_img {
	height: 400px;
	width: 100%;
	object-fit: cover;
	object-position: center;
	transition: 0.3s ease-in-out all;
}

.main_work_head {
	text-align: center;
	font-size: 18px;
    color: #696969;
    font-weight: 300;
    font-family: var(--muli);
    margin: 0;
    text-transform: uppercase;
    padding: 0.7em 0;
}

.main_work_head span {
	font-weight: bold;
}

.work_detail_wrapper {
	position: relative;
	overflow: hidden;
}

.work_detail {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(222,222,222,.9);
	transition: 0.3s ease-in-out all;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 2em;
	border: 5px solid #eee;
	opacity: 0;
	visibility: hidden;
}

.work_detail .icon {
	opacity: 0.5;
    width: 40px;
    height: 40px;
}

.work_detail h4 {
	color: #666;
    font-size: 18px;
    margin: 14px 0;
    font-weight: 400;
    height: auto;
    font-family: var(--muli);
    text-transform: uppercase;
}

.work_detail p {
	color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    font-family: var(--muli);
    max-width: 30ch;
}

.work_detail .link {
	color: #626262;
    background-color: "transparent";
    border-radius: 30px;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: background .2s ease-in;
    transition: background .2s ease-in;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid #666;
    font-family: var(--muli);
    margin-top: 10px;
}

.work_detail .link:hover {
	color: #fff;
    background-color: #666;
    text-decoration: none;
}

.work:hover .work_detail {
	opacity: 1;
	visibility: visible;
}

.my_styles .row.product_row [class*="col-"] {
	margin-bottom: 5px
}

.work:hover .work_img {
	transition: 0.3s ease-in-out all;
	transform: scale(1.1);
}

.work:hover .main_work_head {

}

.main_works .row > [class*='col-']:last-child .icon {
	width: 50px;
	height: 50px;
}

@media (max-width: 768px) {
	.main_works .row > [class^='col-']:not(:last-child) {
		margin-bottom: 1em !important;
	}

	.main_works .container {
		padding-right: 20px;
    	padding-left: 20px;
	}
}

.main_works {
	position: relative
}

.my_linSvg {
	max-width: 1100px;
	margin: auto;
}

.my_linSvg svg {
	stroke-dasharray: 6;
  	animation: dash 35s linear infinite;  	
  	stroke: rgba(0,0,0,0.65);
}

.my_linSvg line {
	stroke: rgba(0,0,0,0.65);
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

@media(max-width: 768px) {
	.my_linSvg svg {
		stroke-dasharray: 25;
	  	animation: dash 4s linear infinite;  	
	  	stroke: rgba(0,0,0,0.9);
	  	height: 40px;
	  	width: 100%;
	  	stroke-width: 1.5px;
	}

	.svg_topper {
	    position: absolute;
	    top: -29px;
	    left: 50%;
	    transform: translateX(-50%);
	}

	.main_works {
		padding: 4.3em 0 3em 0;
	}

	.svg_topper .preloader {
		 transform: scale(0.31);
	}

	.my_linSvg line {
		stroke: rgba(0,0,0,0.9);
		stroke-width: 1.5px;
	}
}



.my_banner .item {
  height: 100vh;
  position: relative;
}
.my_banner .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.my_banner .item .cover {
  padding: 75px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
}
.my_banner .item .cover .header-content {
  position: relative;
  padding: 56px;
  overflow: hidden;
}
.my_banner .item .cover .header-content .line {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: 9px solid #fff;
  -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
}
.my_banner .item .cover .header-content h2 {
  font-weight: 300;
  font-size: 31px;
  color: #fff;
}
.my_banner .item .cover .header-content h1 {
  font-size: 52px;
  font-weight: 600;
  margin: 5px 0 20px;
  word-spacing: 3px;
  color: #fff;
}
.my_banner .item .cover .header-content h4 {
  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
  color: #fff;
}
.my_banner .owl-item.active h1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
.my_banner .owl-item.active h2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
.my_banner .owl-item.active h4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}
.my_banner .owl-item.active .line {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
  animation-delay: 0.3s;
}
.my_banner .owl-nav .owl-prev {
  position: absolute;
  left: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}
.my_banner .owl-nav .owl-prev span {
  font-size: 1.6875rem;
  color: #fff;
}
.my_banner .owl-nav .owl-prev:focus {
  outline: 0;
}
.my_banner .owl-nav .owl-prev:hover {
  background: #000 !important;
}
.my_banner .owl-nav .owl-next {
  position: absolute;
  right: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}
.my_banner .owl-nav .owl-next span {
  font-size: 1.6875rem;
  color: #fff;
}
.my_banner .owl-nav .owl-next:focus {
  outline: 0;
}
.my_banner .owl-nav .owl-next:hover {
  background: #000 !important;
}
.my_banner:hover .owl-prev {
  left: 0px;
  opacity: 1;
}
.my_banner:hover .owl-next {
  right: 0px;
  opacity: 1;
}

.my_banner {
	position: relative;
}

.my_banner .banner_svg {
	position: absolute;
	bottom: 10px;
	width: 100%;
	z-index: 9;
}

.my_banner .banner_svg svg {
	fill: white;
	transform: rotate(180deg);
}

@media(max-width: 768px) {
	.my_banner .banner_svg {
		position: absolute;
		bottom: 8px;
		width: 100%;
		z-index: 9;
	}	
	.my_banner .banner_svg svg {
		fill: white;
		transform: rotate(180deg);
		height: ;
	}

	:root { --none: none }

	.about_section .common_heading h1 {
		font-size: 2.3rem;
	}
}

/*============ select type dress =============*/
.type_section {
	width: 100%;
	padding: 4.5em 0 3em;
	background:url('../img/select_type_bg.jpg') ;
	background-size: cover!important;
    background-position: left!important;
    min-height: 100vh;
        display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.type_section .contents {
	max-width: 600px;
	margin-left: auto;
	text-align: center
}

.type_section .contents h1 {
    color: #fff;
    letter-spacing: 5px;
    line-height: 1.2em;
    font-family: var(--rat);
    font-weight: 300;
    margin: 0 0 27px 0;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.1);
    font-size: 2.5em;
}

.type_section .contents form {
	font-family: var(--rat);
	max-width: 450px;
	margin: auto;
}

.contents form select {
	color: #7f7878  !important;
	border: none;
	box-shadow: 1px 1px 15px rgba(0,0,0,0.1);
	cursor: pointer;
}

.contents form select {
		-webkit-animation: scale 0.5s linear infinite alternate;
	-moz-animation: scale 0.5s linear infinite alternate;
	-o-animation: scale 0.5s linear infinite alternate;
}

@keyframes scale {
	to {
		transform: scale(0.95);
	}
	from {
		transform: scale(1);
	}
}

.type_section .contents .sub_discription {
	text-align: center;
    font-family: Allura,cursive;
    color: #fff;
    font-size: 1.8em;
    margin: 0;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.1)
}

.how_it_get_area {
	display: flex;
	background: none;
	max-width: 550px;
	margin: auto;
	gap: 15px;
	margin-top: 2em
}

.how_it_get_area img {
	max-width: 40px
}

.how_it_get_area .measure_intro {
	border: 1px solid #eee;
	width: 100%;
	padding: 0.7em 0.5em;
	border-radius: 10px;
}

.how_it_get_area .measure_intro h3 {
	color: white;
	font-size: 0.9em;
	margin: 0;
	font-family: var(--raleway);
	margin-top: 0.8em;
	line-height: 22px;
}

.how_it_get_area .measure_intro p {
	color: white;
	font-size: 0.9em
}
.how_it_get_area {
	display: flex;
	background: none;
	max-width: 550px;
	margin: auto;
	gap: 15px;
	margin-top: 2em
}

.how_it_get_area img {
	max-width: 40px
}

.how_it_get_area .measure_intro {
	border: 1px solid #eee;
	width: 100%;
	padding: 0.7em 0.5em;
	border-radius: 10px;
}

.how_it_get_area .measure_intro h3 {
	color: white;
	font-size: 0.9em;
	margin: 0;
	font-family: var(--raleway);
	margin-top: 0.8em;
	line-height: 22px;
}

.how_it_get_area .measure_intro p {
	color: white;
	font-size: 0.9em
}

/* #suit_header li a {
	color: white !important;
} */

@media (max-width: 768px) {
	.type_section {
		width: 100%;
		padding: 3em 0 3em;
		background: linear-gradient( 45deg, rgb(192 13 13 / 23%), rgb(59 133 166 / 34%)),url(../img/select_type_bg.jpg) ;
		background-size: cover!important;
	    background-position: left!important;
	    min-height: 100vh;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}

	.type_section .contents h1 {
		 font-weight: 400;
		 text-shadow: none;
		 font-size: 1.7em;
   		 line-height: 1.4em;
	}

	.type_section .contents .sub_discription {
		font-size: 1.5em;
		line-height: 1.3em;
	}

	.type_section .contents form {
		font-family: var(--rat);
		margin: auto;
	}

	.contents form select {
		font-size: 15px
	}

	.how_it_get_area {
		display: flex;
		background: none;
		max-width: 550px;
		margin: auto;
		gap: 0px;
		margin-top: 1em
	}

	.how_it_get_area .measure_intro {
		/* border: none ; */
		padding: 0.7em 0.3em;
		background: rgba(0,0,0,0.1);
		border: 1px solid #eeeeee91;
	}

/* 	.how_it_get_area .measure_intro .mobile {
		border: 1px solid #eee;
		width: 100%;
		padding: 0.7em 0.5em;
		border-radius: 10px;
	} */

}

/*============ styled_tab_Style ===============*/
#vertical_tab_nav{
	margin:0 auto;
	display: flex;
	overflow:hidden;
}

#vertical_tab_nav ul {
	flex: 3;
}

#vertical_tab_nav .my_styles {
	flex: 7;
	border: 1px solid #f2f2f2;
	padding: 1em
}

#vertical_tab_nav ul{
   display: flex;
   flex-direction: column;
   float: left;
   margin: 0px;
   padding: 0px;
   list-style: none;
   box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
   border: 1px solid #f2f2f2;
}
#vertical_tab_nav li{
   text-align: left;
   padding: 0px;
}
#vertical_tab_nav li:last-child{
   margin-bottom: 0px;
  border-bottom: 0px;
}
#vertical_tab_nav li a{
   font-size: 14px;
   color: #fff;
   text-decoration: none;
   padding: 4%;
   background: white;
   height: 100%;
   font-family: var(--muli);
   padding: 5%;
    border-bottom: 1px solid #f2f2f2;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    /* font-family: inherit; */
    color: #183051;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#vertical_tab_nav li a.selected{
    border-left: 4px solid #2bd37c;
    background-color: #111;
    color: #fff !important;
    position: relative;
}

#vertical_tab_nav li a.selected::before {
	position: absolute;
	content: '\f00c';
	right: 15px;
	font-family: fontAwesome;
}

#vertical_tab_nav li a.selected

#vertical_tab_nav div{
   display: block;
   float: left;
   background: #;
   min-height: 260px;
   padding: 10px 3% 3% 3%;
}
#vertical_tab_nav div article{
   display: none;
   margin: 0px;
   color: #000;
   font-size:18px;
   
}
#vertical_tab_nav div article p{
   margin: 0px 0px 20px 0px;
}

.styles .per_item .item_details .title {
	background: transparent;
	margin: 0;
	font-size: 15px;
}

.styles input[type="radio"]:checked + label .item_details {
	background: #374f61;
}

.styles input[type="radio"]:checked + label .item_details .title {
	color: whitesmoke;
}

.styles input[type="radio"]:checked + label::before {
	right: 7px;
    top: auto;
    bottom: 0;
    width: 30px;
    height: 30px;
    font-size: 0.9em;
    background-color: transparent;
    box-shadow: none;
    color: whitesmoke;
}

.styles .per_item {
	margin-top: 0 !important;
}

.styles .per_item img {
	width: 100%;
	object-fit: cover;
	padding: 0.6em
}

.styles input[type="radio"] + label:hover {
	transform: none;
}

.styles .row.product_row {
	max-height: 320px !important;
    overflow-x: hidden;
}

#vertical_tab_nav li.clicked {
	position: relative;
}

#vertical_tab_nav li.clicked::before {
    position: absolute;
    content: '\f00c';
    right: 15px;
    font-family: fontAwesome;
    top: 50%;
    transform: translateY(-50%);
    color: #2bd37c;
}

.styled_next_btn {
	transition: 0.6s cubic-bezier(0.48, -0.12, 0.29, 1.87) all;
	opacity: 0.3;
	/* transform: scale(0); */
	cursor: no-drop !important;
}

.styled_next_btn.opacityDone {
	opacity: 1;
	/* transform: scale(1); */
	cursor: pointer !important;
}

.site-navbar .site-navigation .site-menu > li > a[href="franchise.php"] > i {
	color: #fff;
	font-size: 1.3em;
	display: inline-block;
	padding: 0em 0 0 0.15em;
}

.site-navbar .site-navigation .site-menu > li {
	position: relative;
}

.site-navbar .site-navigation .site-menu > li > a[href="franchise.php"] {
	display: inline-flex;
	align-items: center;
	position: relative;
}

.dropdown-area {
	width: auto;
	padding: 1em 1.3em 0.5em 1.3em;
	height: auto;
	background-color: white;
	position: absolute;
	top: 65px;
	left: 58.5%;
	display: flex;
	flex-direction: column;
	text-align: left;
	box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
	opacity: 0;
	transform-origin: top;
	transform: scaleY(0);
	transition: 0.2s ease-in-out all;
	border-radius: 10px;
	border-bottom: 6px solid #2d71a1;
}

.site-navbar .site-navigation .site-menu > li:nth-child(4):hover ~ .dropdown-area {
	opacity: 1;
	transform: scaleY(1);
}

/* .site-navbar .site-navigation .site-menu > li:nth-child(4):hover::after {
	width: 0 !important;
}  */

.site-navbar .site-navigation .site-menu > li:nth-child(4) i {
	transition: 0.3s ease-in-out all;
}

.site-navbar .site-navigation .site-menu > li:nth-child(4):hover i {
	transform: rotate(180deg) translateX(-3px);
}

.dropdown-area:hover {
	opacity: 1;
	transform: scaleY(1);
}


.dropdown-area li {
	padding: 0.8em 0;
	transition: 0.2s ease-in-out all;
	cursor: pointer;
}

.dropdown-area li:hover  a{
	color: #2d71a1 !important;
}

.dropdown-area li:not(:last-child) {
	border-bottom: 1px solid #eee;
	
}

.dropdown-area li a {
	color: #232222 ;
	font-family: var(--poppins);
	transition: 0.2s ease-in-out all;
}

.sticky-wrapper.is-sticky .site-navbar i {
	color: #555 !important;
}

@media (max-width: 768px) {
	.site-navbar .site-navigation .site-menu > li:nth-child(4) i {
		display: none;
	}
}

.dropdown-area li a {
	color: #232222 !important;
}

/* .my_main_wrapper {
	display: none;
}

.my_main_wrapper {
	display: none;
}

#Sharwani {
	display: block;
}

#Formal-Suit {
	display: block;
} */

.flyMan {
	text-align: center
}

.anatomy_section img {
	cursor: pointer;
	transition: 0.3s ease all;
}

.anatomy_section [class^='col-']:hover img {
	transform: scale(1.1);
}

.sharwani_modal .per_img {

}

.sharwani_modal {
	max-width: 450px !important;
}

.sharwani_modal .per_img img {
	display: block;
	height: 90vh;
	object-position: center;
	animation: sharZoom 20s linear alternate infinite;
}

@keyframes sharZoom {
  from {
    transform: scale(1.15);
  }
  to {
    transform: scale(1);
  }
} 

[name=sharwani] ~ label img {
	height:  290px;
	object-fit: cover;
}

.main_heading {
	padding-left: 1px;
}

.main_heading i {
	color: red;
	font-size: 1.1em;

}

.select_box {
	border: 1px solid #dee0e1;
	padding: 5px;
	background-color: white;
	border-radius: 7px;
	margin-bottom: 25px;
}

.select_box > .selected_area {

}

.selected_area {
  
  padding: 10px
}

.selected_area:not(:last-child) {
	border-bottom: 1px solid #eee;
}

.main_heading {
  font-size: 0.97em;
  font-family: var(--roboto);
  text-transform: uppercase;
  font-weight: 500;
  color: #15729c;
}

.select_value {
	display: flex;
	align-items: center;
	justify-content: space-between
}

.select_value p {
	margin:  0;
}

.select_value h6 {
	margin:  0;
	color: #262626
} 

.client_detail .form_area .row > [class^="col-"] .row {
	max-height: fit-content !important;
	overflow-x: unset !important;
	overflow-y: unset !important;
}

/* .enquiry_btn {
	border-radius: 0;
} */

.enquiry_btn.track_link {
	top: 48%;
	right: -33px;	
}

.track_login_modal {
	border-bottom: 4px solid transparent;
	border-image-source: linear-gradient(to right, #00000000, #ffffffdb, #fff0);
	border-image-slice: 1;
	background: linear-gradient(to left, rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url('../img/track_modal_bg.jpg') no-repeat center / cover;
}


.track_login_modal * {
}

.track_login_modal h3 {
	margin-bottom: 1em;
	color: whitesmoke !important;
	font-size: 2.3em;
	font-family: var(--nunito)
}

.tracking_login_form input {
	background-color: transparent !important;
	border: none;
	border-bottom: 1px solid #eee;
}

.tracking_login_form input:focus {
	padding-left: 5px;
}

.tracking_login_form input:focus, .tracking_login_form input:active {
	background-color: transparent !important;
	box-shadow: none !important;
	outline: none !important;
	border: none !important;
	border-bottom: 1px solid #eee !important;
}

.tracking_login_form input:valid {
	border-bottom: 1px solid #28d228 !important;
}


.tracking_login_form {
	max-width: 500px;
	margin: auto;
}

.tracking_login_form input {
	margin-bottom: 1.5em;
	color: whitesmoke !important;
	font-family: var(--nunito);
	transition: 0.3s ease-in-out all;
}

.tracking_login_form button[type=submit] {
	margin-top: 2em;
	background: transparent;
	border: 1px solid #eee;
	color: white;
	padding: 0.5em 1em;
	font-family: var(--nunito);
	background: rgba(0,0,0,0.6);
	transition: 0.2s ease all;
}

.tracking_login_form button[type=submit] i {
	transition: 0.2s ease all;
}

.tracking_login_form button[type=submit]:hover i {
	display: inline-block;
	animation: activeMove 0.3s infinite alternate;
}

@keyframes activeMove {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(6px);
	}
}

.tracking_login_form input::placeholder {
	color: #eee;
	font-family: var(--nunito);
	letter-spacing: 1px;
	text-transform: capitalize;
	font-weight: normal;
}

.track_login_modal .remodal-close {
	transform: scale(1.2)
}

.track_login_modal .remodal-close::before {
    top: 5px;
    left: 5px;
}

@media (max-width: 768px) {
	.track_login_modal h3 {
		margin-bottom: 0.5em;
	    color: whitesmoke !important;
	    font-size: 2em;
	    font-family: var(--nunito);
	    line-height: 1.4em;
	}

	.track_login_modal {
		padding: 40px 35px;
	}

	.tracking_login_form button[type=submit] {
		margin-top: 1em;
	}
}


.Pizza-video.support_section{
     position: relative;
     padding-top: 100px !important; 
     z-index: 1;
     padding-bottom: 75px !important; 
}
.pure_logo  {
	position: absolute;
	top: -10px;
	z-index: -1;
	left: 0;
	right: 0;
	margin: auto;
	width: 350px;
	opacity: 0.2 !important;
}
.call_btn {
	    display: inline-block;
    text-align: center;
    position: relative;
    border-radius: 0;
    color: #fff;
    padding: 14px 28px;
    background: 0 0;
    font-weight: 600;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    border-radius: 70px;
    border: 0;
    margin-top: 14px;
    margin-right: 10px;
    font-family: var(--rat);
    background: linear-gradient(45deg, #4680ff,#4680ff, transparent);
}
.Pizza-video .call_btn span {
	font-size: 18px !important;
	letter-spacing: 0.5px;
	font-family: var(--rat);
	color: #fff;
}
.Pizza-video .call_btn i {
animation: ringing 0.5s infinite alternate;
	color: #fff;
}
@keyframes ringing {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20%,
  60% {
    transform: rotate(6deg);
  }
  40%,
  80% {
    transform: rotate(-6deg);
  }
}


.Pizza-video{
     position: relative;
}
 .container {
     max-width: 1170px;
     margin: 0 auto;
}
 .Pizza-video .container{
     background: linear-gradient(to left, rgba(0,0,0,0.2),rgba(0,0,0,0.7)), url(../img/dum.jpg) no-repeat scroll center center / cover;
     border-radius: 10px;
     width: 93%;
}
.Pizza-video .btn span {
    font-size: 16px; 
}
 .subs-form-text{
     padding-left: 30px;
}
 label {
     color: #fff;
     padding-top:15px;
}
 .video-content{
     position: relative;
     padding: 150px 0;
}
 .subscribe-form {
     margin-top: 35px;
     width: 388px;
}
 .subscribe-form input {
     height: 54px;
     padding: 0 16px;
     box-shadow: none;
     border-radius: 0;
     text-align: left;
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
}
 .subscribe-form input, .subscribe-form .subscribe-btn {
     border: 0;
}
 .subscribe-btn {
     height: 54px;
     font-size: 16px;
     color: #fff;
     padding: 0 24px;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
     background: linear-gradient(30deg, #f8116d 20%, #6541c1 80%);
}
 .subscribe-form input:focus, .subscribe-form .subscribe-btn:focus {
     outline: none;
}
 .video-play-btn{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}
 .play-btn {
     height: 80px;
     width: 80px;
     color: #fff;
     border-radius: 50%;
     line-height: 80px;
     display: inline-block;
     font-size: 30px;
     margin-top: -45px;
     text-align: center;
     box-shadow: 0 0 0 0 hsla(182, 74%, 86%, 0.7);
     background: linear-gradient(45deg, #4680ff, transparent);
     animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s normal none infinite running pulse;
}
 .play-btn:hover{
     color: #fff;
     -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
     -ms-transform: scale(1.2);
     -o-transform: scale(1.2);
     transform: scale(1.2);
}
 @keyframes pulse {
     100% {
         box-shadow: 0 0 0 45px hsla(182, 74%, 86%, 0);
    }
}
 @keyframes pulse {
     100% {
         box-shadow: 0 0 0 45px hsla(182, 74%, 86%, 0);
    }
}
 .video-overlay {
     position: fixed;
     z-index: -1;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background: rgba(0, 0, 0, 0.8);
     opacity: 0;
     -webkit-transition: all ease 500ms;
     transition: all ease 500ms;
     visibility: hidden;
}
 .video-overlay.open {
     position: fixed;
     z-index: 9999999;
     opacity: 1;
     visibility: visible;
}
 .video-overlay-close {
     position: absolute;
     z-index: 1000;
     left: 77%;
     top: 16%;
     padding: 10px;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     font-size: 40px;
     line-height: 1;
     color: #f5f5f5 !important;
     text-decoration: none;
     cursor: pointer;
     -webkit-transition: all 200ms;
     transition: all 200ms;
}
 .video-overlay-close:hover {
     color: #6541c1 !important;
}
 .video-overlay iframe {
     position: absolute;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

.support_section.Pizza-video h2 {
	font-family: var(--rat);
	    line-height: 56px;
    font-size: 45px;
    margin-bottom: 20px;
    font-weight: 600;
    color: white;
}

.support_section.Pizza-video h2 ~ p {
    color: white;
    margin-bottom: 1rem;
    font-family: var(--rat);
}

 @media (min-width: 768px) and (max-width: 991px){
     #about .fea-img-part{
         -ms-flex: 0 0 45%;
         flex: 0 0 45%;
         max-width: 45%;
    }
     #about .fea-text-part{
         -ms-flex: 0 0 55%;
         flex: 0 0 55%;
         max-width: 55%;
    }
     #home .col-md-5, #home .col-md-6{
         -ms-flex: 0 0 50%;
         flex: 0 0 50%;
         max-width: 50%;
    }
}
 @media (max-width: 991px){
     .pricing-area .col-lg-4:nth-child(3) .pricingTable{
         margin-top: 30px;
    }
     .hero {
         position: relative;
         padding-top: 63px;
         padding-bottom: 90px;
    }
     .intro-text {
         margin-top: 0px;
    }
     .single-angle-part {
         padding: 13px 10px 0px 25px;
    }
     #share {
         padding-top: 63px;
    }
}
 @media (max-width: 767px){
     .intro-text {
         margin-top: -20px;
    }
    .support_section.Pizza-video h2 {
    	font-size: 42px;
    	    margin-bottom: 15px;
    } 

    .call_btn {
    	margin: 0;
    	margin-bottom: 1.5em;
    }

    .Pizza-video .call_btn span {
    	font-size: 17px !important;
    }
    .Pizza-video .call_btn {
    	background: white;
    }
     .Pizza-video .call_btn * {
     	color: #626262 !important;
     }


     .slide-side.text-right {
         margin-top: 40px;
         text-align: center !important;
    }
     .phone-screen {
         height: 550px;
         margin-top: 60px;
    }
     .hero {
         padding-bottom: 0px;
    }
    .video_frame {
		width: 95%;
		height: 200px;
	}
	.video-overlay-close {
		left: auto;
		right: 0;
	}
    .facts-right-part {
    padding-top: 164px;
    }
    #explain {
    padding-bottom: 60px;
    }
     .about-title {
         margin-top: -17px;
         margin-bottom: 40px;
    }
     #about {
         padding-top: 65px;
         padding-bottom: 70px;
    }
     .box {
         margin-top: 3px;
    }
     .left-fac-part {
         flex: 0 0 100%;
         max-width: 100%;
    }
     .section-padding {
         padding: 70px 0;
    }
    .home-logo {
        margin-bottom: 73px;
    }
     .padd-section {
         padding: 70px 0 0;
    }
     .feature-i-title {
         margin-top: 40px;
    }
     #share {
         padding-top: 27px;
    }
     .pricing-area {
         padding: 63px 0 100px;
    }
     #screenshots {
         margin-top: -25px;
    }
     #blog {
         padding: 70px 0 10px;
    }
     .section-padding {
         padding: 63px 0 63px;
    }
     #footre {
         padding: 60px 0;
    }
     #about .col-md-4{
         width: 575px;
         margin: 0 auto;
    }
     .middle-part-it{
         margin: 30px auto !important;
    }
     .tes-all {
         margin-left: 0px;
         margin-bottom: 30px;
    }
     .video-content {
         padding: 100px 0 90px;
    }
     #screenshots::before {
         height: 63%;
         width: 100%;
    }
     .post.row{
         margin: 0 100px;
    }
     #contact {
         padding-top: 0;
         margin-top: -15px;
    }
}
 @media (max-width: 575px){
    .box-explain .col-md-6{
         -ms-flex: 0 0 50%;
         flex: 0 0 50%;
         max-width: 50%;
    }
    .menubar-main {
        max-width: 150px;
        right: -150px;
    }
    .menu-list {
        padding: 17px 10px 17px;
    }
    .menu-icon {
        left: -40px;
        width: 40px;
        height: 40px;
    }
    .menu-icon i {
        font-size: 20px;
        line-height: 40px;
    }
     .middle-price{
         margin-top: 50px;
    }
     .subs-form-text {
         padding-left: 0;
         text-align: center;
    }
     .post.row{
         margin: 0 0;
    }
     .single-angle-part {
         padding: 13px 10px 0px 20px;
    }
     .video-content {
         padding: 63px 0 163px;
    }
     .video-play-btn {
         margin-top: 70px;
    }
     .subscribe-form {
         margin-top: 35px;
         max-width: 388px;
         width: 100%;
         margin: 35px auto 0;
    }
    .bg-color-section.section-padding {
        padding: 70px 0 50px;
    }
    .home-logo {
        margin-bottom: 63px;
    }
}
 @media (max-width: 360px){
     .phone-screen {
         height: 463px;
    }
}

.office_franchise {
	padding-top: 4em !important;
	padding-bottom: 1em;
	position: relative;
	background: url(../img/about-boxes-bg.jpg) center top no-repeat fixed;
    background-size: cover;
    position: relative;
}

.office_franchise::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.92);
    z-index: 0;
}

.office_franchise h1 {
	font-size: 2.5em !important;
}

.store_pic img {
	width: 100%;
	max-width: 400px 
}

.office_franchise {
	padding-top: 0;
}

.address_details .map_ico{
	text-align: center;
	margin-bottom: 1em;
}

.address_details .map_ico i {
	font-size: 3em;
	color: white
}

.address_details h3 {
	text-align: center;
	font-size: 1.8em;
	font-family: var(--rat);
	text-transform: uppercase;
	color: whitesmoke;
	font-weight: 600;
}

.address_details p {
	color: whitesmoke;
	text-align: center;
	max-width: 300px;
	margin: 1em auto;
	font-family: var(--rat);
	font-size: 0.9em;
}

.office_franchise .row {
	padding-top: 1.3em !important;
}

.office_franchise .row .col-md-6{
	/* background: linear-gradient(to left, rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../img/track_modal_bg.jpg') no-repeat; */
	background: linear-gradient(to left, rgb(9 1 52),rgb(38 0 0 / 70%)), url(../img/track_modal_bg.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2em 20px;
	border: 5px solid #fff;

}

.more__office {
  padding-top: 0;
      background: url(../img/about-boxes-bg.jpg) center top no-repeat fixed;
    background-size: cover;
    position: relative;
    padding-bottom: 6em;
}

.more__office::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.92);
    z-index: 0;
}

.more__office .count-box {
  box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  background: white;
  border-bottom: 4px solid transparent;
  border-image-source: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgb(153 153 153));
  border-image-slice: 1;
}

.more__office .count-box i {
  display: block;
  font-size: 30px;
  color: #ed502e;
  float: left;
}

.more__office .count-box span {
  font-size: 23px;
  line-height: 24px;
  display: block;
  font-weight: 600;
  color: #626262;
  margin-left: 10px;
  font-family: var(--poppins)
}

.more__office .count-box p {
  padding: 20px 0 0 0;
  margin: 0;
  font-family: var(--poppins);
  font-size: 14px;
  color: #262626;
}

.more__office .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #164682;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.more__office .count-box a:hover {
  color: var(--brand-color);
}

.more__office .main__head {
  padding-bottom: 10px !important;
}

.more__office {
  position: relative;
}

.more__office .flight-right {
  position: absolute;
  top: -70px;
  width: 25%;
  right: 0;
  opacity: 0.6;
  animation: upDown 2.8s ease-in-out infinite alternate;
}

@keyframes upDown {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    transform: translateY(7px) rotate(1deg);
  }
  100% {
    transform: translateY(-5px) rotate(0deg);
  }
}

@media (max-width: 768px) {
    .more__office .flight-right {
      position: absolute;
      width: 35%;
      right: 0;
      top: -45px;
    }
}

.franchise_call {
	text-align: center;
	margin-top: 1.1em;
	transition: 0.3s ease-in-out all;
}

.franchise_call:hover {
	transform: scale(1.1);
}

.franchise_call a {
	display: inline-block;
	background: white;
	color: #626262;
	padding: 0.3em 1em;
	border-radius: 20px;
	font-size: 0.9em;
}

.online_store {
	padding: 4em 0;
	background: linear-gradient(to left, rgba(255,255,255,0.65),rgba(255,255,255,0.65)) ,url('../img/hero-bssg.jpg') !important; 
}

.online_store--logo {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.online_store--logo img {
	max-width: 250px;
    background: linear-gradient(
225deg
, #ffffff, #ffffff);
    box-shadow: -20px 20px 60px #e9eff3, 20px -20px 60px #f6f6f6;
	padding: 1.5em;
	margin: 0.6em;
	transition: 0.2s ease-in-out all;
}

.online_store--logo img:hover {
	transform: scale(1.03);
}

.online_store .row {

}

.online_store .mn__ {
	
}

.verified_label img:first-child {
	width: 65px;
}

.verified_label img {
	width: 60px;

}

.verified_label img:not(:last-child) {
	margin-right: 17px
}

.avail_text {
}

.avail_text h1 {
	color: #3f3f3f;
	font-family: var(--rat);
	font-weight: bold;
	margin-bottom: 0.4em;
	font-size: 2.3em;
}

.avail_text p {
	color: #3f3f3f;
	font-family: var(--rat);
	max-width: 50ch;
}